/* style.css */
html {
    height: 100%;
    font-size: 16px; /* Set the base font size */
  }
  
  body {
    height: 100%;
    margin: 0;
    font-family: Roboto, sans-serif;
    background-color: #fafafa;
  }
  
  #cy {
    width: 100%;
    height: calc(100vh - 6rem); /* Adjust height to accommodate additional padding */
    border: none;
    resize: vertical;
    overflow: hidden;
  }
  
  .MuiContainer-root {
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  
  .resizer {
    height: 1.25rem; /* 20px at base font size */
    background: linear-gradient(to bottom, #f5f5f5, #e0e0e0);
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    cursor: row-resize;
    position: relative;
  }
  
  .resizer:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    height: 0.375rem; /* 6px at base font size */
    background: linear-gradient(to right, transparent, #888, transparent);
    pointer-events: none;
  }
  
  .node-data {
    margin-top: 1.5em;
    margin-left: 28em;
    margin-right: 28em;
    text-align: justify;
    line-height: 2.2;
    margin-bottom: 2em;

    font-size: 2rem; /* 16px at base font size */
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
  }
  
  /* Media query for smaller screens */
  @media (max-width: 767px) {
    html {
      font-size: 14px; /* Decrease base font size for smaller screens */
    }
  }